<header>

    <nav>
        <!-- <button class="login-button" (click)="increment()">
            {{count}}
        </button> -->

        <ul>
            <li><a href="#">Posts</a></li>
            <li><a href="#">likes</a></li>
            <li><a href="#"><img src="https://i.pinimg.com/564x/0a/ae/8c/0aae8c9596b6275b0d75ac919f85e3a9.jpg" alt="the Logo" class="logo"></a></li>
            <li><a href="#">people</a></li>
            <li><a href="#">views</a></li>
        </ul>

        <!-- <button class="login-button" (click)="increment()">
            {{count}}
        </button> -->
    </nav>

    

</header>